{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "importOrder": [
    "reflect-metadata",
    "<THIRD_PARTY_MODULES>",
    "^@core/(.*)$",
    "^@config/(.*)$",
    "^@components/(.*)$",
    "^@containers/(.*)$",
    "^@hooks/(.*)$",
    "^@stores/(.*)$",
    "^@modules/(.*)$",
    "^@repositories/(.*)$",
    "^@services/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "jsx"
  ]
}
